# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Public img directory
public/build/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# idea
.idea

# vs
.vs

# Generated JS
app/*/*.js
test/*/*.js
*.js
/nbproject/private/

# Generated js.map
*.js.map